.form-style {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.form-style1 {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28%;
  margin-top: 8px;
}
